[Unit]
Description=dlops.ru

Requires=docker.service
After=docker.service

[Service]

Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill dlops.ru
ExecStartPre=-/usr/bin/docker rm dlops.ru
ExecStartPre=-/usr/bin/docker pull marley/dlops.ru:latest
ExecStart=/bin/sh -c '/usr/bin/docker run --name dlops.ru   \
 -p 4006:80                        \
 marley/dlops.ru'
ExecStop=-/usr/bin/docker kill dlops.ru
ExecStop=-/usr/bin/docker rm dlops.ru

[Install]
WantedBy=multi-user.target
