[Unit]
Description=aiops.ru

Requires=docker.service
After=docker.service

[Service]

Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill aiops.ru
ExecStartPre=-/usr/bin/docker rm aiops.ru
ExecStartPre=-/usr/bin/docker pull marley/aiops.ru:latest
ExecStart=/bin/sh -c '/usr/bin/docker run --name aiops.ru   \
 -p 4006:80                        \
 marley/aiops.ru'
ExecStop=-/usr/bin/docker kill aiops.ru
ExecStop=-/usr/bin/docker rm aiops.ru

[Install]
WantedBy=multi-user.target
