[Unit]
Description=mlops.ru

Requires=docker.service
After=docker.service

[Service]

Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill mlops.ru
ExecStartPre=-/usr/bin/docker rm mlops.ru
ExecStartPre=-/usr/bin/docker pull marley/mlops.ru:latest
ExecStart=/bin/sh -c '/usr/bin/docker run --name mlops.ru   \
 -p 4006:80                        \
 marley/mlops.ru'
ExecStop=-/usr/bin/docker kill mlops.ru
ExecStop=-/usr/bin/docker rm mlops.ru

[Install]
WantedBy=multi-user.target
